<div class="background-wrap">
    <div class="x1">
        <div class="cloud"></div>
    </div>
    <div class="x2">
        <div class="cloud"></div>
    </div>
    <div class="x3">
        <div class="cloud"></div>
    </div>
    <div class="x4">
        <div class="cloud"></div>
    </div>
    <div class="x5">
        <div class="cloud"></div>
    </div>
</div>
<div class="container">

    <ul *ngIf="projects$ | async as projects">
        <li *ngFor="let project of projects" class="split">
            <div id="div1" >
                <app-project-card [project]="project"  ></app-project-card>
            </div>
        </li>
    </ul>

    <div class="bird-container bird-container--one">
        <div class="bird bird--one"></div>
    </div>

    <div class="bird-container bird-container--two">
        <div class="bird bird--two"></div>
    </div>

    <div class="bird-container bird-container--three">
        <div class="bird bird--three"></div>
    </div>

    <div class="bird-container bird-container--four">
        <div class="bird bird--four"></div>
    </div>
</div>







