<div class="wrapper">

    <section>
        <div class="contact-me">
            <img src="../../../assets/img/contact/phone.ico" alt="">
            <h2>+972508721832</h2>
            <img src="../../../assets/img/contact/gmail.ico" alt="">
            <h2>shalomlee6@gmail.com</h2>
        </div>
        <div class="social-icons">
            <a href="https://github.com/shalomlee6?tab=repositories" id="git">
                <i class="fab fa-github-square fa-3x"></i>
            </a>
            <a href="https://www.facebook.com/shalom.lee.5" id="facebook">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
            <a href="https://www.linkedin.com/in/shalom-pinchas-563a035b" id="linked-in">
                <i class="fab fa-linkedin fa-3x"></i>
            </a>
        </div>

    </section>



        <footer>
            <p>Shalom Pinchas Portfolio &copy; 2019</p>
        </footer>

    </div>
