<mat-card class="project-card" [routerLink]="['sub-projects', project.id]">
    <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle >{{ project.tags}}</mat-card-subtitle>
        
    </mat-card-header>
    <h1>Click Here</h1>

    

</mat-card>
<!-- <div class="test" [routerLink]="['sub-projects', project.id]">
    <p>{{project.tags}}</p>
    <i class="fab fa-html5 fa-3x" [style.color]="'#eb2641'"></i>
    <i class="fab fa-css3-alt fa-3x"  ></i>
</div> -->
